* {
    background-color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header, footer {
    height: 6vh;
    width: 100%;
    background-color: black;
}

main {    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

main > * {
    width: 50vw;
}

.left > img {
    object-fit: cover;
    object-position: left 60%;
    max-width: 100%;
    min-height: 100%;
}

/* right side of the main/middle section */
main > .right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main > .right > * {
    height: 33.3%;
}

main > .right > .top {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

main > .right > .bottom {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

button {
    max-width: 120px;
    min-width: 100px;
    max-height: 40px;
    min-height: 25px;
}

main > .right > .middle > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


