* {
    /* background-color: olivedrab; */
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header, footer {
    height: 6vh;
    width: 100%;
    background-color: black;
}

main {
    display: flex;
    flex-direction: row;
    max-height: 88vh;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

main > * {
    width: 50vw;
}

.left > img {
    object-fit: cover;
    object-position: left 60%;
    max-width: 100%;
    min-height: 100%;
}